.note {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
  left: 300px;
  min-width: 64px;
  max-width: 512px;
  width: 128px;
  min-height: 64px;
  max-height: 512px;
  height: 128px;
  padding: 10px;
  background-color: yellow;
  cursor: pointer;
  box-shadow: 0px 0px 5px gray;
  border-radius: 10px;

  .divText {
    margin: 2px;
    padding: 1px;
    min-width: 12px;
    width: fit-content;
    max-height: 100%;
    height: fit-content;
    overflow: hidden;
    font-size: 24px;
    font-family: "Helvetica";
    outline: none;
    line-height: 100%;
  }

  .close-note {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.6);
    }
  }

  .rotate-note {
    position: absolute;
    width: 15px;
    height: 15px;
    top: -15px;
    right: -15px;
    transition: transform 0.3s ease;

    svg {
      display: none;
    }

    &:hover svg {
      display: block;
      transform: scale(1.6);
    }
  }

  .resize-note {
    position: absolute;
    width: 10px;
    height: 10px;
    background: red;
    right: -5px;
    bottom: -5px;
    cursor: se-resize;
  }
}

.note-selected {
  border: 2px solid blue;
}
