.toolbar {
  display: flex;
  position: absolute;
  left: 10px;
  width: 32px;

  ul {
    padding: 0px;
    list-style-type: none;
    box-shadow: 0px 0px 5px gray;
    border-radius: 10px;
  }
  li {
    margin: 2px;
    padding: 2px;

    &:hover {
      border-radius: 10px;
      background-color: gray;
    }
  }
  svg {
    width: 32px;
    height: 32px;
    margin: 2px;

    pointer-events: none;
  }
}
